
.canvasContainer {
  position: fixed; /* Убедитесь, что Canvas занимает весь экран */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* Canvas будет позади других элементов */
}


/* {margin:'0 auto',  position: 'fixed' , width: '100vw',
  height: '100vh', backgroundColor:'rgba(153, 0, 5, 0.42)' } */